# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Slicing.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\Slicing\.idea\.idea.Slicing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
